doctype html 
html(lang="en") 
head 
  meta(http-equiv="X-UA-Compatible" content="ie-edge")
  title= title 
  meta(charset="utf-8") 
  meta(name="viewport" , content="width=device-width , initial-scale=1.0") 
  meta(name="description" content=metaDescription)
  meta(name="keywords" content=metaKeywords)
  meta(property="og:type" content="website")
  meta(property="og:url" content="www.peco-deluxe.com")
  meta(property="og:site_name" content="Peco Deluxe") 
  meta(property="og:title" content="Where taste meets myth") 
  meta(property="og:description" content="Site Description here")
  meta(property="og:image" itemprop="image primaryOfPage" content="/images/logo.png") 
  meta(property="og:image:width" content="1200") 
  meta(property="og:image:height" content="630") 
  meta(property="en_US" content="og:locale") 
  meta(property="en_GH" content="og:locale:alternate")
  meta(property="en_US" content="og:locale:alternate") 
  meta(content="https://instagram.com/celchin" property="og:see_also")
  meta(content="https://youtube.com/celchin" property="og:see_also")
  meta(content="https://linkedin.com/company/celchin" property="og:see_also")
  meta(content="https://www.facebook.com/celchin/" property="og:see_also")
  meta(content="https://twitter.com/celchin" property="og:see_also")
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:domain" content="www.peco-deluxe.com") 
  meta(name="twitter:site" content="@celchin")
  meta(name="twitter:creator" content="@celchin")
  meta(name="twitter:image" content="https://celchin.com/images/icon.png")
  meta(name="twitter:image:width" content="1024")
  meta(name="twitter:image:height" content="512")
  meta(name="twitter:title" content="Where taste meets myth")
  meta(name="twitter:description" content="Site description")       
  meta(name="twitter:url" content="www.peco-deluxe.com") 
  meta(name="twitter:image:alt" content="An iamge of celchin logo")
  link(ref="https://celchin.com/" rel="canonical")
  link(href="https://celchin.com/" rel="home") 
  link(type="text/plain" href="https://celchin.com/humans.txt" rel="author") 
  link(href="https://celchin.com/" rel="alternate" hreflang="x-default")
  link(href="https://celchin.com/" rel="alternate" hreflang="en-us")
  meta(property="web-app-capable" content="yes") 
  meta(property="theme-color" content="orange") 
  meta(property="theme-color" content="orange")
  meta(name="robots" content="no-follow") 
  meta(name="application-name" content="Peco Deluxe")
  link(rel="icon" type="image/png" href="/images/logo.png")
  link(rel="stylesheet" href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css') 
  link(rel="stylesheet" href="/css/bigjara.css")  
  link(rel="stylesheet" href="/css/main.css")  
  block content    
