block content 
  footer 
    div.section-wrapper.bg-dark-faint.pad-top-1.pad-bottom-1 
      div.wrapper 
        div.wrap 
          div.wrap-12.wrap-md-2 
            div.flex 
              div.m-r-1 
                i.fa.fa-envelope.dark-text.bg-white.circle-icon.pad-10 
              div.faint-white-text
                p.uppercase.bold-550 Email support
                p hello@celchin.com 
          div.wrap-12.wrap-md-3 
            div.flex 
              div.m-r-1 
                i.fa.fa-phone.dark-text.bg-white.circle-icon.pad-10  
              div.faint-white-text  
                p.uppercase.bold-550 Phone support
                p.label 09099887 766 , 0902 2334 455 
          div.wrap-md-1
          div.wrap-12.wrap-md-2.faint-white-text 
            h3.faint-white-text.font-1-2.bold-550.uppercase Get latest deals 
            span.mobile-hide Our best promotion sent to your inbox
          div.wrap-12.wrap-md-4 
            form
              div.flex.w-100 
                input(type="email" class="input pad-input border-radius-ltb input-border-faint w-70 validate " placeholder="Email address" required) 
                input(type="submit" class="input no-outline pad-input input-border-faint w-80px border-radius-rtb white-text bg-orange font-1" value="Subscribe") 
    div.section-wrapper.bg-dark.pad-top-1.pad-bottom-1 
      div.d-md-hide.baba
        div.wrapper
          div.wrap 
            .wrap-12
              a(href="#" class="white-text-anchor")
                div.flex.justify-content-between 
                  h3.faint-white-text.font-1-2.bold-550.uppercase.show-text More Options 
                  p #[i.fa.fa-chevron-down.faint-white-text.font-1-2.bold-550.uppercase.footer-toggler]
      div.wrapper.mobile-hide.mobile-nav-box
        div.wrap    
          div.wrap-12.wrap-md-2.foot-border-bottom.pad-top-1.pad-bottom-1.footer-text 
            a(href="#" class="white-text-anchor tabber")
              h3.faint-white-text.font-1-2.bold-550.uppercase Celhin 
            div.tab-content.mobile-hide
              a(class="footer-list " href="#") Our Story 
              a(class="footer-list " href="#") Our Story
              a(class="footer-list " href="#") Our Story
              a(class="footer-list " href="#") Our Story
              a(class="footer-list " href="#") Our Story
          div.wrap-12.wrap-md-2.foot-border-bottom.pad-top-1.pad-bottom-1.footer-text  
            a(href="#" class="white-text-anchor")
              h3.faint-white-text.font-1-2.bold-550.uppercase Payment 
            a(class="footer-list tab-content mobile-hide" href="#") Our Story 
            a(class="footer-list tab-content mobile-hide" href="#") Our Story 
            a(class="footer-list tab-content mobile-hide" href="#") Our Story 
            a(class="footer-list tab-content mobile-hide" href="#") Our Story 
            a(class="footer-list tab-content mobile-hide" href="#") Our Story 
          div.wrap-12.wrap-md-3.foot-border-bottom.pad-top-1.pad-bottom-1.footer-text
            a(href="#" class="white-text-anchor")
              h3.faint-white-text.font-1-2.bold-550.uppercase  Buying on celchin 
            a(class="footer-list tab-content mobile-hide" href="#") Our Story 
            a(class="footer-list tab-content mobile-hide" href="#") Our Story 
            a(class="footer-list tab-content mobile-hide" href="#") Our Story 
            a(class="footer-list tab-content mobile-hide" href="#") Our Story 
            a(class="footer-list tab-content mobile-hide" href="#") Our Story 
          div.wrap-12.wrap-md-3.foot-border-bottom.pad-top-1.pad-bottom-1.footer-text 
            a(href="#" class="white-text-anchor")
              h3.faint-white-text.font-1-2.bold-550.uppercase Selling on celchin 
          div.wrap-12.wrap-md-2.foot-border-bottom.pad-top-1.pad-bottom-1.footer-text
            a(href="#" class="white-text-anchor")
              h3.faint-white-text.font-1-2.bold-550.uppercase More Info
          div.wrap-12.wrap-md-4.pad-top-1.pad-bottom-1 
            h3.faint-white-text.font-1-2.bold-550.uppercase.m-b-1 Connect with us 
            div.flex.m-b-1 
              div.wrap-3 
                i.fa.fa-facebook.circle-icon.bg-white.pad-10.dark-text 
              div.wrap-3 
                i.fa.fa-twitter.circle-icon.bg-white.pad-10.dark-text
              div.wrap-3 
                i.fa.fa-instagram.circle-icon.bg-white.pad-10.dark-text
              div.wrap-3 
                i.fa.fa-youtube.circle-icon.bg-white.pad-10.dark-text 
          div.wrap-12.pad-top-1.pad-bottom-1 
            p.lead.font-0-8.center-text.faint-white-text Copyright &copy; 2020 Celchin.com. All Rights Reserved 
            p(class="center-text") 
              a(class="font-0-8 faint-white-text" href="#") Developed with Love by #[i(class="fa fa-heart orange-text")] ACE AFRICA