block content
  header 
    div(class="wrappers w-100 fixed-to-top header bg-white shadow")
      nav(class="wrap justify-content-between main-navigation")
        div(class="flex")
          a(class="brand" href="#") Coursera 
          a(class="explore no-border no-outline shadow center-text radius-5" style="margin-right:2.5rem;" href="") Explore #[i.fa.fa-chevron-down] 
          form(class="" action="" id="" name="")
            div(class="flex w-100" style="padding-top:.15rem")
              input(class="search-input wrap-md-10" size="50" type="text" placeholder="What do you want to learn ?" name="search")
              button(class="no-border no-outline center-text white-text bg-coursera w-50px") #[i.fa.fa-search] 
        div(class="marketing")
          a(href="#" class="" style="border-right:1px solid #ccc;padding-right:.65rem;") For enterprise
          a(href="#" class="") For students 
          a(href="#" class="") #[i.fa.fa-bell]
          div(class="has-dropdown")
            a(href="#" class="") #[i.fa.fa-user.circle-content.white-text.bg-coursera] Adeleke Bright #[i.fa.fa-chevron-down.font-0-7] 
            div(class="is-drop-content")
              a(href="#" class="courses") My courses 
              a(href="#") Profile
              a(href="#") Purchases
              a(href="#") Settings
              a(href="#") Accomplishments
              a(href="#") Help center
              a(href="#") Notifications
              a(href="#") Logout
          