nav.wrap.bg-dark-faint.justify-content-between.admin-nav.m-b-1.shadow 
  div.search-and-toggle 
    button(class="mobile-toggler relative change-toggle" id="mobile-toggled")
      span 
      span 
      span 
  div.relative 
    div.has-dropdown 
      a(class="dropdown-button" href="#" style="color:#fff!important")
        span Hello , Admin 
        i.fa.fa-chevron-down 
      div.is-drop-content 
        a(href="/settings" class="") Settings 
        a(href="/logout" class="") Logout  
    block content