block content 
  aside(class="sticky s  bg-dark-faint pad-top-") 
    if admin
      h2(class="white-text no-border m-b-1-5 pad-10 white-border-bottom") #[a(class="nav-link" href="/dashboard") #[i(class="fa fa-dashboard sidebar-icon")  Dashboard]] 
        
      p(class="white-text no-border m-b-1-5 pad-10 white-border-bottom") #[a(class="nav-link" href="/admins") #[i(class="fa fa-bell sidebar-icon") ] Admin]
      p(class="white-text no-border m-b-1-5 pad-10 white-border-bottom") #[a(class="nav-link" href="/categories") #[i(class="fa fa-signal sidebar-icon") ] Category ] 
       p(class="white-text no-border m-b-1-5 pad-10 white-border-bottom") #[a(class="nav-link" href="/posts") #[i(class="fa fa-users sidebar-icon") ] Post]
      p(class="white-text no-border m-b-1-5 pad-10 white-border-bottom") #[a(class="nav-link" href="/courses") #[i(class="fa fa-music sidebar-icon")  Course]]
      p(class="white-text no-border m-b-1-5 pad-10 white-border-bottom") #[a(class="nav-link" href="/customers") #[i(class="fa fa-file sidebar-icon")] Customer ]
      p(class="white-text no-border m-b-1-5 pad-10 white-border-bottom") #[a(class="nav-link" href="/employees") #[i(class="fa fa-comment sidebar-icon")  Employees]]
      p(class="white-text no-border m-b-1-5 pad-10 white-border-bottom") #[a(class="nav-link" href="/complaints") #[i(class="fa fa-paint-brush sidebar-icon") ] Complaints]
      p(class="white-text no-border m-b-1-5 pad-10 white-border-bottom") #[a(class="nav-link" href="/products") #[i(class="fa fa-plug sidebar-icon") ] Product]
      p(class="white-text no-border m-b-1-5 pad-10 white-border-bottom") #[a(class="nav-link" href="/orders") #[i(class="fa fa-user-secret sidebar-icon") ] Order]
      p(class="white-text no-border m-b-1-5 pad-10 white-border-bottom") #[a(class="nav-link" href="/payments") #[i(class="fa fa-dollar sidebar-icon") ] Payment]
      p(class="white-text no-border m-b-1-5 pad-10 white-border-bottom") #[a(class="nav-link" href="/") #[i(class="fa fa-key sidebar-icon") ] Settings]
      
    else 
      p(class="bg-dodgerblu white-text no-border m-b-1-5 pad-10") #[a(class="nav-link" href="/investor") #[i(class="fa fa-dashboard sidebar-icon")  Dashboard]] 
      p(class=" white-text no-border m-b-1-5 pad-10") #[a(class="nav-link" href="/investments") #[i(class="fa fa-plus sidebar-icon")  ] Deposit] 
      p(class=" white-text no-border m-b-1-5 pad-10") #[a(class="nav-link" href="/posts") #[i(class="fa fa-comment sidebar-icon")  ] Post] 
      p(class="white-text no-border m-b-1-5 pad-10") #[a(class="nav-link" href="/withdraws") #[i(class="fa fa-download sidebar-icon") ] Withdraw ] 
      p(class="white-text no-border m-b-1-5 pad-10") #[a(class="nav-link" href="/transactions") #[i(class="fa fa-cloud sidebar-icon")  Transactions]] 
      p(class="white-text no-border m-b-1-5 pad-10") #[a(class="nav-link" href="/referrals") #[i(class="fa fa-users sidebar-icon")  Referrals]] 
      p(class="white-text no-border m-b-1-5 pad-10") #[a(class="nav-link" href="/testimonies") #[i(class="fa fa-bell sidebar-icon")  Testimonies]] 
      p(class="white-text no-border m-b-1-5 pad-10") #[a(class="nav-link" href="/market-forecast") #[i(class="fa fa-bar-chart sidebar-icon")  Market Forecast]] 
      p(class="white-text no-border m-b-1-5 pad-10") #[a(class="nav-link" href="/jobs") #[i(class="fa fa-step-forward sidebar-icon")  Jobs]]
      p(class="white-text no-border m-b-1-5 pad-10") #[a(class="nav-link" href="/settings/general") #[i(class="fa fa-key sidebar-icon")  ] General Settings]   
      p(class="white-text no-border m-b-1-5 pad-10") #[a(class="nav-link" href="/settings/account") #[i(class="fa fa-user-secret sidebar-icon")  ] Account Settings] 