block content 
  header 
    div.section-wrapper.fixed-to-top 
      div.wrapper 
        div.wrap 
          // Our mobile navigation structure 
          div(class="")
          div(class="")
          div(class="")
          div(class="") 
         

